@import url('https://fonts.googleapis.com/css?family=Monda');

body {
    font-size: 14px;
    font-family: monda;
}

.container {
    background-color: #fdfdfd;
    width: 768px;
    margin: auto 25rem;
}

.plans section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .plan-tier {
        display: block;  
    }

    .full {
        width: 100%;
        margin: auto 0;
    }

    .third {
        width: 33.33%;
    }
}