<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="/reload/reload.js"></script> <!-- Auto reload -->    
</head>

<body>
    <div class="container">
    <section class="layer plans">
        <section>
            <section class="full lift plan-tier">
                <h4 class="plus">PLUS</h4>
                <h5>
                    <sup class="superscript">€</sup>
                    <span class="plan-price">750</span>
                    <sub> /m</sub>
                </h5>
                <ul>
                    <li>
                        <i class="fa fa-info" aria-hidden="true"></i> Helpdesk</li>
                    <li>
                        <i class="fa fa-gavel" aria-hidden="true"></i> Juridische inventarisatie</li>
                    <li>
                        <i class="fa fa-thermometer-half" aria-hidden="true"></i> Nulmeting AVG (eenmalig)</li>
                </ul>
            </section>
            <section class="third lift plan-tier">
                <h4 class="premium">PREMIUM</h4>
                <h5>
                    <span class="plan-price-request">
                        <strong>Op aanvraag</strong>
                    </span>
                </h5>
                <ul>
                    <li>
                        <i class="fa fa-search" aria-hidden="true"></i> in-house training</li>
                    <li>
                        <i class="fa fa-id-card" aria-hidden="true"></i> Registratie FG</li>
                    <li>
                        <i class="fa fa-user-secret" aria-hidden="true"></i> Privacy audit</li>
                    <li>
                        <i class="fa fa-plus" aria-hidden="true"></i> alle
                        <strong>plus</strong> diensten</li>
                </ul>
            </section>
            <section class="third lift plan-tier">
                <h4 class="coorporate">CORPORATE</h4>
                <h5>
                    <span class="plan-price-request">
                        <strong>Op aanvraag</strong>
                    </span>
                </h5>
                <ul>
                    <li>
                        <i class="fa fa-id-card" aria-hidden="true"></i> Interim FG</li>
                    <li>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i> Contract<wbr />onderhandelingen</li>
                    <li>
                        <i class="fa fa-plus" aria-hidden="true"></i> alle
                        <strong>premium</strong> diensten</li>
                    <li>
                        <i class="fa fa-plus" aria-hidden="true"></i> alle
                        <strong>plus</strong> diensten</li>
                </ul>
            </section>
            <section class="third lift plan-tier">
                <h4 class="diamond">
                    <i class="fa fa-diamond" aria-hidden="true"></i> DIAMOND</h4>
                <h3>
                    <!-- <sup class="superscript"></sup> -->
                    <span class="plan-price-request">
                        <strong>Op aanvraag</strong>
                    </span>
                </h3>
                <ul>
                    <li>
                        <i class="fa fa-balance-scale" aria-hidden="true"></i> In-house jurist (wekelijks)</li>
                    <li>
                        <i class="fa fa-certificate" aria-hidden="true"></i> Bedrijfscertificering (NOREA/EuroPrise)</li>
                    <li>
                        <i class="fa fa-plus" aria-hidden="true"></i> alle
                        <strong>diamond</strong> diensten</li>
                    <li>
                        <i class="fa fa-plus" aria-hidden="true"></i> alle
                        <strong>premium</strong> diensten</li>
                    <li>
                        <i class="fa fa-plus" aria-hidden="true"></i> alle
                        <strong>plus</strong> diensten</li>
                </ul>
            </section>
            <div style="clear: both;"></div>
            <div>Ook kunt u ons per uur inhuren. U kunt onze tarieven vinden op
                <a href="https://dev.safvisual.com/inhuur/">Inhuur</a>.</div>
        </section>
    </section>
</div>
</body>

</html>